* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root {
  font-size: 62.5%;
  font-family: "Mulish", system-ui;
}

form input,
textarea,
button {
  font-family: "Mulish", system-ui;
}

body {
  font-size: 1.6rem;
}

#app {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
}

#app main {
  overflow-y: scroll;

  background-color: #f7f7f7;
  color: #262626;
}

main .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  padding: 2rem 1rem;
  width: min(280px, 100%);
  margin: 0 auto;
}

.wrapper {
  height: 100vh;
}

#index h1 {
  font-size: 4.7rem;
  font-weight: 300;

  color: #c0c0c0;
}

#index h1 span {
  font-weight: 900;

  color: #e6b110;
}

#index p {
  font-weight: 700;
}

#sobre p,
#formacao p,
#portifolio p {
  font-size: 1.3rem;
}

#index div,
#sobre div,
#portifolio div,
#formacao div,
#contato div {
  padding-bottom: 15rem;
}

h2 {
  margin-bottom: 1rem;

  font-weight: 200;
  color: #c0c0c0;
}

h2 span {
  font-weight: 700;
  color: #262626;
}

ul a {
  color: #262626;
}

ul a:hover {
  color: #c0c0c0;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header ul li {
  font-size: 1.2rem;
  font-weight: 700;
}

#portifolio a {
  color: #262626;

  font-size: 4rem;
}

#contato form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#contato form input {
  padding: 0.2rem;
  margin-top: 1rem;
  border: none;

  background-color: #f7f7f7;
  border-bottom: 1px solid #e6b110;
}

#contato form textarea {
  height: 10rem;
  padding: 0.2rem;

  border: 1px solid #e6b110;

  background-color: #f7f7f7;
}

input:focus,
textarea:focus {
  outline: 0;
}

footer p {
  font-size: 1rem;
  text-align: center;

  color: #c0c0c0;
}

form button {
  border: none;
  border-radius: 0.5rem;
  padding: 0.8rem;

  background-color: #262626;
  color: #c0c0c0;
}

form button:hover {
  background-color: #2f2f2f;
  color: white;
  cursor: pointer;
}

/* Querys abaixo */

@media (min-width: 770px) {
  .container {
    padding: 2rem 1rem;
    width: min(600px, 100%);
    margin: 0 auto;
  }

  #index h1 {
    font-size: 6.6rem;
    letter-spacing: 1.2rem;
  }

  #sobre p,
  #formacao p,
  #portifolio p {
    font-size: 1.6rem;
  }

  header ul li {
    font-size: 1.4rem;
    font-weight: 700;
  }

  #portifolio a {
    font-size: 5rem;
  }

  footer p {
    font-size: 1.1rem;
  }

  #contato form {
    width: 50rem;
    gap: 3rem;
  }

  form button {
    padding: 1.2rem 0.8rem;
  }

  #contato form textarea {
    height: 12rem;
  }

  h2 {
    font-size: 2.8rem;
  }
}
